<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/globalStyle.css}">

</head>
<body>
<div>
    <h1>Admin Area</h1>
    <p>This content is visible only to admins.</p>
    <div>
        <button onclick="window.location.href='/admin/createFilm'">Create Film</button>
        <button onclick="window.location.href='/admin/filmList'">Film list</button>
    </div>
    <a th:href="@{/}">Back to Home</a>
</div>
</body>
</html>