<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/globalStyle.css}">
</head>
<body>
<button onclick="window.location.href='/admin/administration'">Admin page</button>

<a th:href="@{'/admin/createFilm'}">New Film</a>

<ul>
    <li th:each="film : ${films}">
        <div>
            <span th:text="${film.name}"></span>
            <a th:href="@{'/admin/filmDelete/' + ${film.id}}">Delete Film</a>
            <a th:href="@{'/admin/editFilm/' + ${film.id}}">Edit Film</a>
        </div>
    </li>
</ul>


</body>
</html>