body{
    background-color: #030303;
    color: white;
}

a{
    color:lightblue;
}
form{
    padding-left: 10px;
}

form div{
    display: flex;
    flex-direction: column;
    width: min-content;
    padding-bottom: 10px;
}