<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cinebruh</title>
    <link rel="stylesheet" th:href="@{/css/globalStyle.css}">

</head>
<body>
<div th:insert="components/navbar :: body"></div>

<p>Welcome, <span th:text="${#authentication.name}">User</span>!</p>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <p>Welcome, Admin!</p>
    <button onclick="window.location.href='/admin/administration'">Admin page</button>
</div>

<div sec:authorize="!hasRole('ROLE_ADMIN')">
    <p>You do not have admin privileges.</p>
</div>

<div>
    <button onclick="window.location.href='/register'">Register</button>
    <button onclick="window.location.href='/login'">Login</button>
    <button onclick="window.location.href='/film/filmList'">Film list</button>

</div>

</body>
</html>